<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>Elijah's Dashboard</title>
  <meta charset="utf-8">
  <script src="{{url_for('static',filename='vue.js')}}"></script>
</head>
<body>
  <div id="header">
    <span>Today is [[dateString]]</span>
    <span>It is [[timeString]]</span>
    <span>It is [[temp]]&#176;F</span>
    <span>[[precip]]</span>
    <span>You are in [[city]]</span>
    <span>The minimum today is [[mintemp]]&#176;F</span>
    <span>The maximum today is [[maxtemp]]&#176;F</span>
    <span>It is [[humid]]&#x25; humidity</span>
  </div>
  <div id="classes">
    <table>
      <thead>
        <tr>
          <th>Course</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="cls in classes">
          <td>[[cls.name]]</td>
          <td><a v-bind:href="cls.url" target="_blank">Class Url</a></td>
        </tr>
      </tbody>

    </table>
  </div>
  <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showTz=0&amp;mode=WEEK&amp;height=700&amp;wkst=1&amp;bgcolor=%2399ff99&amp;src=ewhitsett%40g.hmc.edu&amp;color=%231B887A&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="700" frameborder="0" scrolling="no"></iframe>
  <script>
    var months = [
      "January","February","March","April","May","June",
      "July","August","September","October","November","Decemeber"
    ];
    var weekdays = [
      "Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"
    ];
    var ajaxRequest = function(url) {

    };
    var header = new Vue({
      el: "#header",
      data: {
        greeting: "Howdy, Elijah!",
        timeString: "",
        dateString: "",
        weather: null,
        where: null,
        lat: null,
        lng: null,
        temp: 50,
        precip: "none",
        humid: null,
        mintemp: 0,
        maxtemp: 200,
        city: "Washington"
      },
      created: function() {
        this.timeNow();

        var self = this;
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            self.lng = position.coords.longitude;
            self.lat = position.coords.latitude;
          });
        }

        this.weatherNow();
      },
      methods: {
        formatTime: function(t) {
          if (t < 10) {
            return "0" + t;
          }
          return t;
        },
        timeNow: function() {
          var self = this;
          setInterval(function() {
            var d = new Date();
            var month = months[d.getMonth()];
            var dom   = d.getDate();
            var year  = d.getFullYear();

            var hour  = d.getHours();
            var mins  = d.getMinutes();
            var secs  = d.getSeconds();

            if (mins < 10) {
              mins = "0"+mins;
            }
            if (secs < 10) {
              secs = "0"+secs;
            }

            self.dateString = "" +month+ " "+dom+", "+year;
            self.timeString = "" +hour + ":"+mins+":"+secs;
          }, 100);
        },
        weatherNow: function() {
          var self = this;
          var xhr = new XMLHttpRequest();

          xhr.open("GET","/weather/"+self.lat+"/"+self.lng, true);

          xhr.onload = function() {
            var data = JSON.parse(this.response);

            if (data.cod === 200) {
              self.humid = Math.trunc(data.main.humidity);
              self.temp  = Math.trunc(data.main.temp);
              self.maxtemp = Math.trunc(data.main.temp_max);
              self.mintemp = Math.trunc(data.main.temp_min);
              self.city    = data.name;
              if (data.rain !== null) {
                self.precip = "rain";
              }
            }
          }

          xhr.send();
          setInterval(function() {
            var xhr = new XMLHttpRequest();

            xhr.open("GET","/weather/"+self.lat+"/"+self.lng, true);

            xhr.onload = function() {
              var data = JSON.parse(this.response);

              if (data.cod === 200) {
                self.humid = Math.trunc(data.main.humidity);
                self.temp  = Math.trunc(data.main.temp);
                self.maxtemp = Math.trunc(data.main.temp_max);
                self.mintemp = Math.trunc(data.main.temp_min);
                self.city    = data.name;
                if (data.rain !== null) {
                  self.precip = "rain";
                }
              }
            }

            xhr.send();
          }, 600*1000);
        }
      },
      computed: {

      },
      delimiters: ["[[","]]"]
    })
    var classes = new Vue({
      el:"#classes",
      data: {
        classes: null,
      },
      created: function() {
        var xhr = new XMLHttpRequest();
        var self = this;
        xhr.open("GET","/getclasses", true);

        xhr.onload = function() {
          var data = JSON.parse(this.response);
          console.log(data);
          self.classes = data;
        }

        xhr.send();

      },
      delimiters: ["[[","]]"]
    })
  </script>
</body>
</html>
